snippet phpif
	<?php if (${1:/* condition */}) { ?>
		${2:// code...}
	<?php } ?> 
snippet phpifel
	<?php if (${1:/* condition */}) { ?>
		${2:// code...}
	<?php } else { ?>
		${3:// code...}
	<?php } ?>

